<div class = "new-action-holder">
  <div {{action "updateSnippet"}} class="btn btn-primary">save snippet</div>
{{input value=title placeholder="name your snippet here"}}
</div>
<div class="editor-holder"><div id="editor"></div></div>
{{yield}}
